# --- Скомпилированные файлы и объекты ---
*.o
*.obj
*.a
*.so
*.out

# --- Code::Blocks складывает сборку ---
bin/
obj/

# --- Файлы настроек Code::Blocks ---
*.layout
*.depend
*.gch

# --- Временные файлы Linux ---
*~
# Своп-файлы Vim/Vi
*.swp
*.swo

.vscode/
